<footer>
            <div class="row">
                <div class="col-lg-12 footer">
               &copy;{{ site.time | date: "%Y"  }} Nội dung được xây dựng bởi {{site.company_name}}. Xin vui lòng ghi rõ nguồn khi sao chép. <br />
{% if page.last_updated %}<span>Lần cuối cập nhật trang:</span> {{page.last_updated}}<br/>{% endif %}
<p><img src="{{ "images/flag-vn.png" }}"/> Cùng chung tay xây dựng một Việt Nam hùng cường</p>
                </div>
            </div>
</footer>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
